html,
body {
  margin: 0;
}

.chat-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message {
    width: 100%;
    min-height: 85px;
    background-color: rgb(52, 53, 65);
}

.input-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 192px;
    background-color: rgb(52, 53, 65);
}

.message {
    color:white;
}
.message-form {
    display: flex;
    align-items: center;
    background-color: rgb(64, 65, 79);
    min-width: 768px;
    min-height: 50px;
    box-shadow: 10px, 10px, 10px, 10px, rgb(51, 53, 62);
}

.insert-area {
    display: flex;
    justify-content: center;
    min-width: 750px;
    min-height: 24px;
    /* background-color: red; */
}

.insert-bar {
    width: 90%;
    border:none;
    background-color: rgb(64, 65, 79);
    outline: none;
    color: white;
}